* {
  margin:0px;
  font-size:16px;
}
body{
  height:100vh;
}
.container{
  padding:20px;
  height:100%;
  display: flex;
  flex-direction: column;
}
.search{
  display:flex;
  margin-bottom: 40px;
}
form{
  flex:1;
  padding-left: 20px;
}
.search form input{
  display:flex;
  height: 20px;
  width: 40%;
  border-radius: 20px;
  border: 1px solid #e2dbdb;
  padding:10px;
}

.search form input:focus{
  border: 1px ;
  border-color: #76a7e6
}

.result{
    padding-left: 150px;
    display:flex;
    flex-direction: column;
}
.result p{
    margin-bottom:40px;
}
.result a{
    text-decoration: none;
    font-size:20px;
    color:black
}
.result p {
    font-size:20px;
    font-family: Monospace;
    font-weight: bold
}
.result a:hover{
    text-decoration: underline;
    color:#DB7093
}